// Varibles
$website-width: 1440px;
$main-color: hsl(243, 87%, 12%);
$light-color: hsl(238, 22%, 44%);
$dark-color: hsl(224, 93%, 58%);
$link-color: hsl(170, 45%, 43%);
$color2: hsl(240, 75%, 98%);
$color3: hsl(0, 0%, 75%);

$bg-image: url("../img/bg-curve-desktop.svg");
